<%- include('../layouts/adminHeader.ejs')%>

<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Create Post</h2>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input style="border: solid;" name="title" class="form-control" required>
            </div>
          
            <div class="mb-3">
                <label class="form-label">Post Image</label><br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                   Upload Image
                </button>  
                <input type="hidden" name="image" id="image">               
            </div>

   

            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea style="border:solid;" name="content" class="w-100" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if(typeof message != 'undefined'){%>
            <p style="color: green;"><%=message %></p>
        <% }  %>
    </div>
</div>       
</div>

           <!--Upload Image Modal -->
           <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Upload Image</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
        
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="file" name="image" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
              </div>
            </div>
          </div>


  <script>
    $(document).ready(function(){
        $('#uploadForm').submit(function(event){
            event.preventDefault();

            $.ajax({
                url:"/upload-post-image",
                type:'POST',
                data:new FormData(this),
                contentType:false,
                cache:false,
                processData:false,
                success:function(data){
                    if(data.success == true){
                        $('#image').val(data.path)
                        alert(data.message)
                        $('#uploadModal').modal('hide')
                    }else{
                        alert(data.message)
                    }
                }
            })
        })
    })
  </script>

<%- include('../layouts/adminFooter.ejs')%>