<%- include('./layouts/header') %>

<div class="container py-5">
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title" pb-5>
                <form method="post">
                   
                    <input name="token" placeholder="Enter your token" required><br><br>
                    <input name="newpassword" placeholder="Enter your new Password" required><br><br>
                    <input type="submit" value="Reset Password">
                </form>
                <% if(typeof message !== 'undefined') {
                    %>
                        <p style="color: rgb(128, 90, 0);"><%=message %></p>
                    <%
                }
                %>
            </div>
        </div>
    </div>
</div>
<%- include('./layouts/footer') %>